body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6eed200;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

.dashboard {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card.signal {
    background-color: #ffffff;
    color: #57575c;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 400px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('images/cards-background1.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.coin-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.forex-logo {
    width: 70px;
    height: 22px;
    margin-right: 10px;
}

.signal-details {
    text-align: center;
    margin-top: 10px;
}

.signal-details p {
    margin: 5px 0;
}

.actions {
    margin-top: 20px;
}

.buy-button, .sell-button {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
}

.sell-button {
    background-color: #e74c3c;
}

.buy-button:hover, .sell-button:hover {
    opacity: 0.9;
}

.actions button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.actions .sell-button {
    background-color: #e74c3c;
}

.actions .buy-button {
    background-color: #3498db;
}

.actions button:hover {
    opacity: 0.8;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: 10px;
    }

    .dashboard {
        padding: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .card {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .logo img {
        height: 30px;
    }
}
